langchain==0.2.12
langchain-core==0.2.24
langchain-text-splitters==0.2.2
faiss-cpu==1.8.0
python-dotenv==1.0.1
typing-extensions>=4.5.0 
streamlit==1.24.0      
pandas==1.5.3          
numpy==1.24.2          
scikit-learn==1.2.1    
matplotlib==3.7.1      
ipykernel
smote==0.1
seaborn==0.13.2
imbalanced-learn==0.14.0
tensorflow==2.20.0
xgboost==3.0.4
lightgbm==4.6.0
catboost==1.2.8
langchain-community
langchain-google-genai
langgraph
